@font-face {
    font-family: "Lubalin";
    src: url('70b628a2521876b8a7d11f8bfad52cd7.ttf');
}
html, body{
    margin-top: 0;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    font-family: Calibri, sans-serif;
    color: black;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top:0px;
    overflow-x:hidden;
    background-color: white;
 }
body {
    font-size: 15px;
    padding-bottom:0;
    padding-top:0;
}

/****************************************/
/************* SCROLL BAR ***************/
/****************************************/

/* width */
::-webkit-scrollbar {
  width: 12px;
  background: white;
  scroll-margin-top: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #27839c;
  opacity:0.3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #27839c;
    opacity:0.7;
}

/****************************************/
/************* SCROLL BAR ***************/
/****************************************/

h2, h3, h4, h5{
    font-family:"Lubalin";
}
.titreLangue{
    font-family:"Lubalin";
}

@keyframes hoverMenu {
  from {background-color:rgb(255,255,255,0.2);}
  to {background-color:rgb(255,255,255,0.6);}
}

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    text-align:left;
    color:white;
    text-indent:20px;
    margin:0 auto;
    background-image:url("6F9CC228-DC78-443A-A213-1A1A4AF07AA5_1_105_c.jpeg");
    background-size:cover;
    background-position:center left;
    padding-bottom:5px;
    z-index:10;
}

footer{
    background-image:url("6F9CC228-DC78-443A-A213-1A1A4AF07AA5_1_105_c.jpeg");
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    bottom:0;
    width:100%;
    text-align:center;
    background-color:black;
    color:white;
    padding-top:30px;
    padding-bottom:30px;
/*    border-top:2px solid #3cb4e6;*/
}

.menu{
    background-color:rgb(255,255,255,0.5);
    color:#03234b;
    font-weight:bold;
    font-size:17px;
    text-align:center;
    width:100%;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding-left:0;
  overflow: hidden;
}

.menu li {
  float: left;
  text-indent:0px;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 16px 50px 16px 50px;
    text-decoration: none;
}
.menu li.selected a {
    display: block;
    text-align: center;
    background-color:rgb(255,255,255,0.6);
    padding: 16px 50px 16px 50px;
    text-decoration: none;
}
.menu li a:hover {
    background-color:rgb(255,255,255,0.6);
    animation-name:hoverMenu;
    animation-duration:0.5s;
}
a{
    text-decoration:none;
    color:inherit;
}

.presentationTexte{
    margin-top:225px !important;
    padding:1%;
    width:80%;
    left:0;
    right:0;
    margin:0 auto;
    background-color:rgba(84, 145, 156, 0.2);
    border-radius:10px;
}
.presentationTexte p{
    text-indent:20px;
}

.formulaire{
    width:80%;
    left:0;
    right:0;
    margin:0 auto;
    background-color:rgba(161, 186, 146, 0.2);
    border-radius:10px;
    padding:1%;
    margin-top:3%;
    margin-bottom:calc(3% + 25px);
    height:20%;
}

#contact{
    height:auto;
}
#nom, #mail{
    width:49%;
}
#objet{
    width:99%;
}
#message{
    border:none;
    width:99%;
}

.infobreves{
    width:80%;
    left:0;
    right:0;
    margin:0 auto;
    display:flex;
    margin-top:225px !important;
    background-color:rgba(237, 190, 59, 0.3);
    border-radius:10px;
}
.civilstate{
    width:70%;
    text-align:center;
    vertical-align:middle;
    padding:1%;
    color:#7a5b07;
}
.sep{
    width:10%;
}

.picture{
    background-image:url("photoCV.png");
    background-position:top;
    background-size:contain;
    background-repeat:no-repeat;
    height:auto;
    width:20%;
}

.categories{
    width:90%;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:calc(5% + 25px);
    z-index:10;
}

.education, .skills, .hobbies{
    margin-top:50px;
}
.education li, .skills li, .hobbies li{
    color:black;
}
.education h2{
    color:#224c54;
}
.skills h2, .linkdiv h2{
    color:#597a45;
}
.hobbies h2, .linkdivVideo h2{
    color:#de923c;
}
.skills hr, .linkdiv hr{
    border: 1px solid #597a45;
    margin-top:-18px;
}
.education hr{
    border: 1px solid #224c54;
    margin-top:-18px;
}
.hobbies hr, .linkdivVideo hr{
    border: 1px solid #de923c;
    margin-top:-18px;
}

.link{
    margin-top:200px !important;
}
.linkdiv, .linkdivVideo{
    width:90%;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:80px;
}
.linkdivVideo{
    text-align:center;
}
.linkdivVideo h2{
    text-align:left;
}
.linkdiv video{
    right:0;
    left:0;
    margin:0 auto;
    text-align:center;
    width:80%;
}
.linkdiv pre{
    margin-bottom:calc(3% + 25px);
}

.firstrowcivilstate, .secondrowcivilstate, .thirdrowcivilstate{
    display:flex;
}

.pays, .birth, .voiture, .telephone, .sport, .adresse, .linkedin, .mail{
    width:50%;
    font-size:16px;
    padding:10px;
    text-align:left;
}
.infobreves i{
    margin-right:10px;
}


.languetable{
    margin-top:3%;
    width : 55%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    color:black;
    border: 1px;
    border-spacing:0px;
    margin-bottom:3%;
    background-color:#f2f2f2;
    padding:2%;
    border-radius:20px;
    z-index:0;
}

.ln0{
    margin-top:3%;
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    position:relative;
    color:black;
    padding:1%;
    position:relative;
}
.ln1{
    margin-top:3%;
    background-color:rgba(0, 4, 220, 0.4);
    width : 10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.ln2{
    margin-top:3%;
    background-color:rgba(11, 127, 150, 0.5);
    width : 10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}.ln2b{
    margin-top:3%;
    background-color:rgba(11, 127, 150, 0.15);
    width : 10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.ln3{
    margin-top:3%;
    background-color:rgba(11, 150, 50, 0.5);
    width : 10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}.ln3b{
    margin-top:3%;
    background-color:rgba(11, 150, 50, 0.15);
    width : 10%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}


.comptable{
    margin-top:3%;
    width : 27%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:1;
    color:black;
    border: 0px;
    border-spacing:4px;
    background-color:#f2f2f2;
    padding:2%;
    border-radius:20px;
}

.c1{
    background-color:rgba(0, 134, 120, 0.6);
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.c2{
    background-color:rgba(31, 34, 20, 0.6);
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.c3{
    background-color:rgba(220, 34, 20, 0.6);
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.c4{
    background-color:rgba(130, 34, 220, 0.6);
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.c5{
    background-color:rgba(0, 134, 220, 0.6);
    width : 20%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    position:relative;
    z-index:2;
    color:black;
    padding:1%;
    position:relative;
}
.rotate{
    writing-mode:vertical-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    font-weight:bold;
    font-size:85%;
    text-align:left;
    color:#e1e9eb;
    font-family: "Lubalin";
}

.listHobbies{
    font-size:30px;
    color:#de923c;
}

.categories li {
    margin-bottom:10px;
}
.categories li ul li {
    margin-bottom:0px;
    list-style:none;
}

.comptable tr{
    height:50px;
}
